@charset 'utf-8';

$dark:  #333333;
$light: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'YuGothic';
}

pre {
  line-height: 1;
}

html.remark-container,
body.remark-container {
  background-color: $dark;
  color: $light;
}

h1,h2,h3 {
  font-weight: normal;
}

.remark-slide-scaler {
  // height: ***px !important;
  background-color: $dark;
  box-shadow: none;
  -webkit-box-shadow: none;
  * {
    opacity: 1 !important;
    bottom: 25px;
    color: #EEEEEE;
  }
  .remark-slide-number {
    position: fixed;
    top: 10px;
    bottom: auto;
    margin-top: 0 !important;
  }
}

.remark-slide-content {
  background-color: $dark;
  color: $light;

  h1 {
    margin-left: -20px;
    padding-left: 10px;
    border-left: 10px solid lighten(#1E4D78, 20%);
    font-size: 48px;
  }

  h2 {
    margin-left: -15px;
    padding-left: 10px;
    border-left: 5px solid lighten(#1E4D78, 20%);
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }

  h1 + *,
  h2 + * {
    margin-top: 10px;
  }

  * + h2 {
    margin-top: 30px;
  }

  img {
    vertical-align: middle;
  }

  p > img {
    display: block;
    width: auto;
    height: calc(100vh - 50px);
    margin: 0 auto;
  }

  * + p > img {
    height: calc(100vh - 150px);
  }

  li > p > img,
  li > img {
    width: auto;
    height: 2em;
  }

  ul,
  ol {
    margin-left: 20px;
    font-size: 26px;
  }

  table {
    width: 100%;
    * {
      font-size: 26px;
    }
    td > img {
      overflow: hidden;
      max-width: 160px;
      border-radius: 10px;
    }
  }

  p {
    font-size: 26px;
  }

  p > code,
  pre > code > div {
    padding: 4px 20px;
    background-color: #212121;
    font-family: Consolas;
    font-size: 26px;
  }

  p > code,
  pre > code {
    margin-top: 10px;
  }

  pre + pre > code {
    margin-top: 0;
  }
}

.sg-navigation {
  display: none;

  > ul {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  > ul > li {
    display: table-cell;
    padding: 6px 8px;
    vertical-align: middle;
    background-color: rgba(lighten(darken(#DC0000, 50%), 50%), 0.85);
    font-size: 34px;
    color: #CCCCCC;

    &.current {
      background-color: darken(#DC0000, 25%);
      color: #FFFFFF;
    }
  }
}

.sg-navigation-header {
  padding: 6px 8px;
  background-color: rgba(lighten(darken(#DC0000, 50%), 50%), 0.85);
  font-size: 26px;
  color: #EEEEEE;
}

// slides detail
.img-slide {
  img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 700px;
    transform: translate(-50%, 0);
  }
}

.remark-code {
  font-size: 42px;
}

.ol h2 {
  display: list-item;
  margin-left: 1.5em;
  list-style: decimal;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5%;
  background-color: rgba(0,0,0, 0.5);

  > * {
    width: 800px;
    margin: 0 auto;
  }
}

.hljs-default .hljs {
  padding: 0 !important;
}

.hljs-name,
.hljs-selector-tag,
.hljs-keyword {
  color: lighten(red, 20%) !important;
}
.hljs-selector-tag {
  font-weight: normal !important;
}
.hljs-attr,
.hljs-selector-class,
.hljs-title {
  color: orange !important;
}
.hljs-string {
  color: lighten(green, 40%) !important;
}
.hljs-subst {
  color: #FFFFFF !important;
}
.hljs-number,
.hljs-literal {
  color: lighten(blue, 30%) !important;
}
